# Ignore all .log files
*.log
*.swp

# Ignore directories
# mydir/ ignores mydir dirs at any dir level,
# while /mydir/ ignores only mydir dir at repo root-level (not at system-level).
/vendor/
/var/
/result/

# Ignore files
/etc/reuter.ini
/etc/dev-machines.ini
/etc/hosts
.env
