table {
    border-collapse: collapse;
}

.no-break {
    white-space: nowrap;
}

.inline{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 20px;
}

input, button{
    height: 34px;
}

.inline input, .inline button{
    height: 34px;
    margin-right: 210px;
    margin-left: 200px;
}

/* Responsive Web Design: media query
 (currently not working) */
@media only screen and (max-width: 992px) {
/*@media (max-width: 992px) {*/
    .hscroll {
        overflow-y: scroll;
        white-space: nowrap;
    }
}

.center-align {
    text-align: center;
}

.buscador-container {
    text-align: left;
}

.pagination {
    /*  Inserting `display: block` here introduces
        a bug: an underscore appears after hovering on arrows */
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding: 8px 16px;
    text-decoration: none;
    transition: 0.2s;
    border-radius: 100%;
}

.pagination a {
    /* color: black; */
    /* border:1px solid black; */
    /* padding-top=2px; */
    /*  Using `display: block` in .pagination is necessary,
        in order to center pagination controllers, but creates
        an unwanted tiny underscore when hovering
        over the previos/next arrows. Using `text-decoration: none`
        removes this unwanted effect. */
    text-decoration: none /* removes unwanted bug from hove*/
}

/*.pagination a.arrows {

}
*/

/*.pagination span.active {*/
.pagination span {
    background-color: white;
    color: #08c;
}

/* .pagination a:hover:not(.active) {
        background-color: #e7e7e7; //#50C878;
        border-radius: 50%;
    } */

/* Handle long sel opts: jsfiddle.net/ZTs42/2/ */
.selectboxit-container .selectboxit, .selectboxit-container .selectboxit-options {
    width: 600px; /* Width of the dropdown button */
    border-radius:0;
    max-height:240px;
}

.selectboxit-options .selectboxit-option .selectboxit-option-anchor {
    white-space: normal;
    min-height: 30px;
    height: auto;
}

